<!--Taken and modified from Server-Side Form Handling lecture-->
<h1>POST Request Received</h1>
<br>
<br>
<table border="1px">
  <tr>
    <td><strong>Name: </strong></td>
    <td><strong>Value: </strong></td>
  </tr>
  <br>
<!-- for each entry in the dataList from our P{OST router-->
<!-- we will create a new table row for the name and value data-->
  {{#each dataList}}
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.value}}</td>
    </tr>
    <br>
  {{/each}}
</table>